html.is-changing .swup-transition-fade {
  transition:
    opacity 0.35s ease,
    transform 0.35s ease;
  opacity: 1;
  transform: translateY(0);
}
html.is-animating .swup-transition-fade {
  opacity: 0;
  transform: translateY(10px);
}
